* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
}

header {
    grid-column: 1 /4;
    background-color: aqua;
}

nav {
    background-color: black;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

main {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main h2 {
    padding: 1rem;
}

section {
    background-color: lightgray;
}

footer {
    grid-column: 1 /4;
    background-color: beige;
    padding: 1rem;
    ;
}